(
    name: "SSH Hosts",
    description: "Quick connect to SSH hosts from ~/.ssh/config",
    bin: (
        path: "ssh-launcher",
    ),
    icon: Name("utilities-terminal"),
    query: (
        isolate: true,
        regex: "^ssh ",
    )
)

