---
- name: Reload udev rules
  become: true
  ansible.builtin.command:
    cmd: udevadm control --reload-rules

- name: Trigger udev rules
  become: true
  ansible.builtin.command:
    cmd: udevadm trigger
