(
    name: "{{ ron_name }}",
    foreground: ({{ rgb.foreground }}),
    background: ({{ rgb.background }}),
    cursor: ({{ rgb.foreground }}),
    bright_foreground: ({{ rgb.foreground }}),
    dim_foreground: ({{ rgb.foreground }}),
    colors: [
{{ colors_block }}
    ],
)
